<a routerLink="/org/new" class="btn btn-primary btn-sm">New Organizations</a>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr class="bg-info">
      <th style="width:5%">No.</th>
      <th>Name</th>
      <th>Zone</th>
      <th>Description</th>
      <th style="width:10%" class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let org of orgs; let no = index">
      <td>{{ no + 1 }}</td>
      <td>{{ org.name }}</td>
      <td>{{ org.zone }}</td>
      <td>{{ org.description }}</td>
      <th class="text-center">
        <a class="fas fa-edit" (click)="onEdit(org.id)"></a> &nbsp;
        <a class="fas fa-trash text-danger" (click)="onDelete(org.id)"></a>
      </th>
    </tr>
  </tbody>
</table>
