<a routerLink="/region/new" class="btn btn-primary btn-sm">New Region</a>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr class="bg-info">
      <th>No.</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let region of regions; let no = index">
      <td>{{ no + 1 }}</td>
      <td>{{ region.name }}</td>
      <td>{{ region.zone }}</td>
      <td>{{ region.description }}</td>
      <th>
        <a class="fas fa-edit mr-1" (click)="onEdit(region.id)"></a>
        <a class="fas fa-trash text-danger" (click)="onDelete(region.id)"></a>
      </th>
    </tr>
  </tbody>
</table>
