<a routerLink="/main/employee/new" class="btn btn-primary btn-sm">New Employee</a>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr class="bg-info">
      <th>No.</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of employees; let no = index">
      <td>{{ no + 1 }}</td>
      <td>{{ emp.first_name }}</td>
      <td>{{ emp.last_name }}</td>
      <td>{{ emp.email }}</td>
      <th>
        <a class="fas fa-edit mr-1" (click)="onEdit(emp.id)"></a>
        <a class="fas fa-trash text-danger" (click)="onDelete(emp.id)"></a>
      </th>
    </tr>
  </tbody>
</table>
