<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="">Name</label>
    <input type="text" formControlName="name" class="form-control">
  </div>

  <div class="form-group">
    <label for="">Description</label>
    <textarea formControlName="description" class="form-control"></textarea>
  </div>

  <div class="form-group">
    <label for="">Zone</label>
    <select class="form-control" formControlName="zone">
      <option *ngFor="let zone of zones" [ngValue]="zone.id">{{ zone.name }}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="">Terminal</label>
    <br>
    <div *ngFor="let terminal of terminals">
      <input type="checkbox" [value]="terminal.id" [checked]="isChecked(terminal.id)" (change)="onChange($event)"> {{ terminal.name }}
    </div>
  </div>

  <div class="form-group">
    <label for="">Active</label>
    <br>
    <input type="radio" formControlName="active" value="Y"> Active <br>
    <input type="radio" formControlName="active" value="N"> Not Active <br>
  </div>

  <div class="form-group">
    <input type="submit" class="btn btn-primary mr-1" value="Save">
    <input type="button" class="btn btn-warning" value="Reset">
  </div>
</form>
