<form #myForm="ngForm" (submit)="onSave(myForm)">
  <div class="form-group">
    <label for="">First Name</label>
    <input type="text" required class="form-control" ngModel name="first_name" #first_name="ngModel" [(ngModel)]="first_name1">
    <div *ngIf="first_name.touched && first_name.errors?.['required']" class="text-danger">First name is required</div>
  </div>

  <div class="form-group">
    <label for="">Last Name</label>
    <input type="text" required class="form-control" ngModel name="last_name" #last_name="ngModel" [(ngModel)]="last_name1">
    <div *ngIf="last_name.errors?.['required'] && last_name.touched" class="text-danger">First name is required</div>
  </div>

  <div class="form-group">
    <label for="">Email</label>
    <input type="text" required email class="form-control" ngModel name="email" #email="ngModel" [(ngModel)]="email1">
    <div *ngIf="email.errors?.['required'] && email.touched" class="text-danger">Email is required</div>
    <div *ngIf="email.errors?.['email'] && email.touched" class="text-danger">Email format is incorrect</div>
  </div>

  <div class="form-group">
    <input type="submit" class="btn btn-primary" value="Submit">
  </div>
</form>
