<form [formGroup]="form" (ngSubmit)="submitForm()" novalidate>
  <div class="form-group">
    <label for="">Name</label>
    <input type="text" class="form-control" formControlName="name">
  </div>

  <div class="form-group">
    <label for="">Description</label>
    <textarea class="form-control" formControlName="description"></textarea>
  </div>

  <div class="form-group">
    <label for="">Zone</label>
    <select class="form-control" formControlName="zone">
      <option value="0">-- Choose --</option>
      <option *ngFor="let zone of zones" [ngValue]="zone.id">{{ zone.name }}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="">Devices</label> <br>
    <div *ngFor="let device of devices; let i = index">
      <input type="checkbox" [value]="device.id" [checked]="isChecked(device.id)" (change)="onCheckboxChange($event)"> {{ device.name }} <br>
    </div>
  </div>

  <div class="form-group">
    <label for="">Active</label> <br>
    <input type="radio" checked formControlName="active" value="Y"> Yes <br>
    <input type="radio" formControlName="active" value="N"> No
  </div>

  <div class="form-group">
    <input type="submit" class="btn btn-primary" value="Submit">
  </div>
</form>
